@import '../../variables';
@import '../../mixins';

.items-wrapper {
  background-color: $color-white;
  min-height: 523px;
  margin-right: 20px;
  flex: 479;
  padding: 20px 15px 20px 30px;
  @include border-decoration;
}
