@import '../../variables';

.item-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid $border-color;

  .text-wrapper {
    display: flex;
    align-items: center;

    .item-text {
      color: $color-black;
      font-size: 14px;
      font-weight: $font-semibold;
      margin-right: 10px;
    }
  }
}
