@import '../../variables';

.add-comment-wrapper {
  display: flex;
  padding-top: 14px;
  padding-bottom: 24px;

  .square-add {
    height: 52px;
    min-width: 52px;
    margin-right: 14px;
    background-color: $color-light-light-gray;
  }

  .add-text {
    height: 70px;
    width: 100%;
    color: $color-light-black;
    font-weight: $font-light;
    font-size: 16px;
    line-height: 21px;
    border: 1px solid $border-gray-color;
    resize: none;
    outline: none;
  }
}
