@import '../../variables';

.sidebar-wrapper {
  width: 21%;
  min-width: 271px;
  background-color: $color-black;
  height: 100%;
  padding: 30px;

  h1 {
    font-weight: $font-light;
    text-transform: uppercase;
    font-size: 32px;
    color: $color-white;
  }

  .description {
    font-weight: $font-regular;
    color: $color-gray;
    line-height: 32px;
  }
}
