@import '../../variables';
@import '../../mixins';

.comments-wrapper {
  @include border-decoration;
  background-color: $color-white;
  flex: 444;
  padding: 20px 18px 14px 18px;
  max-height: 636px;
}
