$font-light: 300;
$font-regular: 400;
$font-semibold: 600;

$color-white: #FFFFFF;
$color-light-light-gray: #E6E6E6;
$color-light-gray: #B3B3B3;
$color-gray: #808080;
$color-dark-gray: #565A69;
$color-light-black: #666666;
$color-black: #2B2F3E;
$color-pink: #FF2F5A;
$color-red: #FF305A;
$color-turquoise: #27CCC0;
$color-orange: #FF8A00;
$color-dark-blue: #47568C;
$background-color: #F9F9F9;
$border-color: #F2F2F2;
$border-gray-color: #CCCCCC;
